.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  border-right: 1px solid lightgrey;

  .headerBlock {
    border-bottom: none;
    height: 9vh;
  }

  .messagesBlock {
    padding: 2%;
    overflow: scroll;
    height: 87vh;
  }

  .inputBlock {
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    height: 4vh;
  }
}
